/* *{
    margin: 0px;
} */
.header{
    display: flex;
    border: 2px solid black;
    justify-content: left;
    gap: 50px;
    padding-left: 50px;
    background-color: rgb(231, 107, 93);
    color:white;
    font-size: larger;
}
.header input[type=text] {
    float: right;
    margin: 8px 0px;
    font-size: 17px;
    height: 50px;
    width: 600px;
    border-radius: 5px;
  }
.headerleft{
    display: flex;
    justify-items: right;
    justify-content: space-between;
    gap: 20px;
}
.navbar{
    background-color: gray;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    color: white;
}
.p1{
    border: 1px solid whitesmoke;
    padding: 5px;
    margin-left:10px ;
    margin-right:10px ;
    margin: 10px;
}
.bodycontent{
    background-image: url(https://images.creativemarket.com/0.1.0/ps/7064950/1820/1213/m1/fpnw/wm1/rqaqqo1djajpvvi1haj4cha0om8jetidkx9p0scx0b5jh7c1uamufvum2eofl8cq-.jpg?1569963450&s=e7e2aeabdb5054a873515b25d15d00b3);
    height: 300px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: auto;
    color:yellow;
    padding-top:80px ;
}
.menu{
    /* border: 1px solid red; */
    display: flex;
    background: linear-gradient(lightblue,lightpink, lavender);
    margin: 20px;
    flex-wrap: wrap;
    text-align: center;
    padding: 100px;
}
.div{
    border: 2px solid black;
    margin: 8px;
    width: 400px;
    gap:50px
}
img{
    margin-top: 10px;
}
.footer{
    background-color: rgb(231, 107, 93);
    border: 2px solid black;
    color: white;
    text-align: center;
    padding-top: 10px;
    height: 50px;
}